{% extends "base.html" %}
{% block content %}
<h2>Temperature Converter</h2>

<form method="POST" action="/temperature">
    <input type="number" name="value" step="any" required placeholder="Enter value">

    <select name="from_unit">
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
        <option value="K">Kelvin</option>
    </select>

    <select name="to_unit">
        <option value="C">Celsius</option>
        <option value="F">Fahrenheit</option>
        <option value="K">Kelvin</option>
    </select>

    <button type="submit">Convert</button>
</form>

{% if result != None %}
<p class="result">Converted Value: {{ result }}</p>
{% endif %}

{% endblock %}
